<table>
  <thead>
    <tr>
      <th></th>
      {% for hash in include.columns %}
        {% comment %}Exact column from {"php" => "PHP"} value{% endcomment %}
        {% assign column = hash | first | last %}
        <th>{{column}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in include.rows %}
    <tr>
      <td>{{ row.description }}</td>
      {% for hash in include.columns %}
        {% comment %}Exact column from {"php" => "PHP"} value{% endcomment %}
        {% assign column = hash | first | first %}
        <td>
          {%- assign cell = row.languages[column] -%}
          {%- if cell -%}
            {%- if row.is_plain_text -%}
              {{- cell | markdownify -}}
            {%- else -%}
              {%- highlight_param {{ column }} -%}
                {{- row.languages[column] -}}
              {%- endhighlight_param -%}
            {%- endif -%}
          {%- endif -%}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
